@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="text-align:center;">
    <h1>Welcome to VidRen</h1>
    <p class="lead">A video renting application.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Add New Customers</h2>
        <p>Admin can add, edit and delete customers.</p>
        <p>User can search for customers.</p>
    </div>
    <div class="col-md-4">
        <h2>Add New Movies</h2>
        <p>Admin can add, edit and delete  new movies.</p>
        <p>User can search for movies.</p>
    </div>
    <div class="col-md-4">
        <h2>Rent Movies</h2>
        <p>User can create and manage records related to renting movies.</p>
    </div>
</div>